<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Opencart Test Automation" thread-count='3' parallel="tests" verbose="4">
<test name="Opencart Homepage Test">
 <classes>
      <class name="com.testcases.TS_01_Verify_Opencart_HomePageTest"></class>
      <class name="com.testcases.TS_02_Verify_Opencart_LoginPageTast"></class>
      <class name="com.testcases.TS_03_Verify_Opencart_RegisterPageTest"></class>
    </classes>

</test>
</suite>